<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ block "title" . }}{{ .Title }} | Mr. Willingham{{ end }}</title>
  <script src="https://cdn.tailwindcss.com?plugins=typography"></script>
  {{ block "head_extra" . }}{{ end }}
</head>

<body class="min-h-screen bg-slate-900 text-white flex flex-col">
  <main class="flex-1">
    {{ block "main" . }}{{ end }}
  </main>
  <footer class="text-slate-500 py-8 text-sm text-center">
    Copyright &copy; 2026 Lawton Willingham. All rights reserved.
  </footer>
</body>

</html>
